@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-13 11:02:42
 * @version $Id$
 */

.container{
/*	background-color: rgb(245,245,245);*/
	max-width: 400px;
	margin-top: 20px;
}

.name{
	/*background-color: #fff;*/
	line-height: 70px;
	/*vertical-align: middle;*/

}

#user{
	text-align: right;
}

.btn{
	color: orange;
	background-color: #fff;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	border-color: orange;
}

.information{
	text-align: center;
}