@charset "UTF-8";

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-01 09:16:09
 * @version $Id$
*/

.page {
    max-width: 400px;
    height: 600px;
    background-image: url(http://img1.imgtn.bdimg.com/it/u=2975456394,1104738169&fm=27&gp=0.jpg);
    background-size: cover;
    line-height: 30px;
}

.row {
    color: #FF6A00;
    font-size: 55px;
    font-family: STXingKai;
    font-weight: bold;
    text-align: center;
}

.row1 {
    margin-top: 160px;
}


.row2 {
    margin-top: 30px;
    font-size: 20px;
    font-family: STKaiti;
    font-weight: bold;
    text-align: center;

    color: #FF6A00;
}



#button {
    font-size: 20px;
    color: #FF0000;
    position：absolute;
    font-weight: bold;
    width: 80%;
    /*   background-color: #0FF;*/
    font-family: SimHei;
    height: 30px;
    border-radius: 15px;
    margin-top: 230px;
}