@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-04-20 08:45:36
 * @version $Id$
 */


 .background{
 	width: 800px;
 	height: 700px;
 	background-color: rgb(153,189,144);
 	display: flex;
 }

.big-box-1{
	border-width: 1px;
	border-color: rgb(0,0,0);
	border-style: solid;
	margin-top: 120px;
	margin-left: 120px;
	height: 500px;
	width: 600px;
	background-color: rgb(205,211,245);
}

.big-box-2{
	position: relative;
	border-width: 1px;
	border-color: rgb(0,0,0);
	border-style: solid;
	top: 12px;
	left: 12px;
	height: 95px;
	width: 574px;
	background-color: rgb(153,189,144);
}

.boxes-1{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}



.box{
	height: 60px;
	width: 60px;
	border-color: rgb(0,0,0);
	border-width: 1px;
	border-style: solid;
	background-color: rgb(205,211,245);
	margin: 15px;

}

.box-1{
	height: 60px;
	width: 60px;
	border: none;
	background-color: rgb(153,189,144);
	margin: 15px;
}

.big-box-3{
	position: relative;
	border-width: 1px;
	border-color: rgb(0,0,0);
	border-style: solid;
	top: 24px;
	left: 12px;
	width: 574px;
	height: 365px;
	background-color: rgb(153,189,144);
}

.box-2{
	margin-top: 15px;
	margin-bottom: 15px;
	height: 270px;
	width: 200px;
	border-width: 1px;
	border-color: rgb(0,0,0);
	border-style: solid;
	background-color: rgb(205,211,245);
}

.boxes-2{
	width: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5px;
}

.box-3{
	height: 40px;
	width: 40px;
	border-color: rgb(0,0,0);
	border-width: 1px;
	border-style: solid;
	background-color: rgb(205,211,245);

}

.boxes-4{
	display: flex;
	flex-direction: column;
}

.big-box-3{
	display: flex;
	flex-direction:row-reverse; 
	justify-content: space-around;

}

.boxes-3{
	display: flex;
	flex-direction:column; 
	justify-content: space-between;
	margin-top: 15px;
	height: 330px;
	
}

.box-4{
	height: 30px;
	width: 300px;
	border-color: rgb(0,0,0);
	border-width: 1px;
	border-style: solid;
	background-color: rgb(205,211,245);
}
