@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-04-03 20:32:33
 * @version $Id$
 */

table{
	background-color: grey;
}

.container{
	width: 400px;
	height: 200px;
}

.container tr{
	height: 50px;
}
