@charset "UTF-8";

.container{
	margin-top: 20px;
	max-width: 400px;
	text-align: center;
	font-size: 13px;
}

#information_text{
	line-height: 50px;
}

#information_data{
	top: 20px;
}

.BMI{
	line-height: 50px;
}

.space{
	height: 100px;
}

.status{
	line-height: 10px;

}

#thinnish{
	height: 5px;
	border: solid;
	border-radius: 5px;
	color: grey;
}

#normal{
	height: 5px;
	border: solid;
	border-radius: 5px;
	color: grey;

}

#chubby{
	height: 5px;
	border: solid;
	border-radius: 5px;
	color: grey;
}

#obesity{
	height: 5px;
	border: solid;
	border-radius: 5px;
	color: grey;
}

#status_text{
	line-height: 30px;
}


.bottom{
	position: fixed;
	bottom: 0px;
	background-color: white;
	
}

.icon{
	background: none;
	border: none;
}