@charset "UTF-8";

.container{
	margin-top: 20px;
	max-width: 400px;
	text-align: center;
	font-size: 13px;
}

.name{
	line-height: 70px;
}

#name{
	text-align: left;
}

#user{
	text-align: right;
}

.btn{
	color: orange;
	background: none;
	text-align: left;
}

.information{
	line-height: 50px;
	text-align: center;
}

.advice{
	text-align: center;
	line-height: 50px;
}

.fa-smile{
	color: orange;
}

.bottom{
	position: fixed;
	bottom: 0px;
	background-color: white;
	
}

.smile{
	background: none;
	border: none;
}

.advices{
	background: none;
	border: none;
	color: orange;
}

.icon{
	background: none;
	border: none;
}