@charset "UTF-8";

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-12 22:04:13
 * @version $Id$
 */

.container{
	max-width: 400px;
	text-align: center;
	font-size: 13px;
	
}

.icon{
	background: none;
	border: none;
}

.col-xs-3{
	position: fixed;
	bottom: 0px;
}