@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-16 19:52:29
 * @version $Id$
 */
.container{
	margin-top: 20px;
	max-width: 400px;
	text-align: center;
	font-size: 13px;
}

.information{
	width: 200px;
	height: 200px;
	line-height: 10px;
	text-align: center;
	margin:25%;
	background-color: #FE7;
	border-radius:50%;

}
/*#information_text{
	line-height: 50px;
}*/

#information_data{
	padding-top: 60px;
	line-height:50px;
	
}



.bottom{
	position: fixed;
	bottom: 0px;
	background-color: #fff8dc;
	
}


.icon{
	background: none;
	border: none;

}