@charset "UTF-8";

 .container{
  max-width: 400px;
  text-align: left;
  line-height: 40px;
}

.bg { 
  background-image: url(../img/back.jpg);
  background-size: cover;
  height:600px;
  max-width:400px;
  margin-top: 33px;
 }

.page{
     position:absolute;
     background-color: rgba(255, 255, 255, 0.4);
     margin-top: 120px;
     margin-left: 20px;
     font-size: 20px;
     font-family: KaiTi;
     font-weight: bold;
 }

 #button {
     font-size: 20px;
     width:50%;
     font-weight: bold;
     background-color: #0FF;
     opacity: 0.9;
     font-family: SimHei;
     height: 40px;
     border-radius: 15px;
 }